<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/validation.js"></script>
    <script type="text/javascript" src="/js/history.js" defer></script>
    <title>History</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="shops.html">Shops</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="">History</a></li>
            </ul>
        </nav>
    </header>
    <div id="flex-div">
        <section>
            <form action="/api/history" method="post" id="orders-history-form">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email">
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone">
                </div>
                <button type="button" onclick="getOrdersHistory()">Search</button>
            </form>       
        </section>
        <main>
            <ul id="orders"></ul>
        </main>
    </div>   
</body>
</html>