<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="/js/shops.js" defer></script>
    <title>Shops</title>
</head>
<body onload="displayShops()">
    <header>
        <nav>
            <ul>
                <li><a href="">Shops</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="history.html">History</a></li>
            </ul>
        </nav>
    </header>
    <div id="flex-div">
        <aside>
            <h2>Shops:</h2>
            <ul id="shops"></ul>
        </aside>
        <main>
            <form id="sort-form">
                <input type="checkbox" id="sort-by-price" onclick="sortMedications()">
                <label for="sort-by-price">Sort by Price</label>
            </form>

            <ul id="medicine-items"></ul>
        </main>
    </div>
    
</body>
</html>